@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

header {
    position: relative;
    background-color: black;
    height: 85vh;
    min-height: 50rem;
    width: 100%;
    overflow: hidden;
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
    .content-nav {
        position: relative;
        z-index: 2;
        padding: 0;
        .navbar {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(255, 255, 255, 0));
            .navbar-nav {
                a {
                    color: white;
                    font-weight: 500;
                }
                .nav-link {
                    padding: 1.5rem 1.5rem;
                    border-bottom: 3px solid transparent;
                    &:hover {
                        color: white;
                        border-bottom: 3px solid white;
                    }
                }
            }
            .nav-download {
                a {
                    background: rgb(0, 148, 216);
                    display: inline-block;
                    padding: 5% 15%;
                    border-radius: 50rem;
                    text-decoration: none;
                    color: white;
                    font-weight: 500;
                }
            }
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: 0.5;
        z-index: 1;
    }
    .content-banner {
        color: white;
        position: relative;
        z-index: 2;
        .img-hp {
            margin-top: 10%;
        }
        .content-banner-1 {
            margin-top: 15%;
            padding: 0;
            h1 {
                @extend %header-font-1;
            }
            .gantidompet {
                @extend %header-font-2;
            }
            img {
                width: 30%;
                margin-top: 10%;
                margin-right: 5%;
                border: 1px solid white;
                border-radius: 5px;
            }
        }
    }
}

hr {
    display: block;
    width: 8%;
    height: 3%;
    background-color: rgb(19, 142, 233);
}

.judul-content {
    @extend %content-font;
}

.bg-about {
    color: white;
    @extend %background-linear;
    a {
        @extend %button-a;
        &:hover {
            background: $bg-hover-button;
        }
    }
    p {
        padding: 2% 0%;
    }
}

.transaksi-aman {
    img {
        padding-top: 8%;
    }
    .judul-content {
        @extend %content-font;
    }
    h4 {
        padding: 8% 0%;
    }
}

.keamanan {
    color: white;
    @extend %background-linear;
    .phone {
        background: url(../images/circle.png) no-repeat center;
        background-size: 75%;
    }
    img {
        width: 60%;
        padding: 5% 0%;
    }
    h4 {
        font-weight: 700;
    }
    .aman-1 {
        padding-top: 35%;
    }
    .aman-2 {
        padding-top: 75%;
    }
}

.cerita-teman-dana {
    .carousel-indicators {
        bottom: -57px;
        li {
            background-color: rgb(19, 142, 233);
        }
    }
    .carousel-inner {
        img {
            border-radius: 10px;
        }
    }
}